body {
  max-width: 800px;
  width: 300px;
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

.radio-group {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  list-style: none;

  li {
    display: flex;
    accent-color: green;
  }
}
